<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}

    <div class="container my-4">
        <h2 class="text-center">Registration Form</h2>
           <div class="form-group">
                                            <input type="text" id="name" class="form-control" placeholder="Name *" value=""
                                            name="name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" id="email"  class="form-control" placeholder="Your Email *" value=""
                                            name="email" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="ph" minlength="10" maxlength="10" name="phone"
                                             class="form-control" placeholder="Your Phone Number *" value=""
                                             />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="pass" class="form-control" placeholder="Password *" value=""
                                            name="password" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="pro" class="form-control" placeholder="Profession *" value=""
                                            name="Profession" />
                                        </div>
                                        <button type="submit" id="add" class="btn btn-primary">Register</button>
                                        </div>

                                        <script>
                                            add = document.getElementById("add");
                                            add.addEventListener("click", ()=>{
                                                nam = document.getElementById("name").value;
                                                email = document.getElementById("email").value;
                                                ph = document.getElementById("ph").value;
                                                pass = document.getElementById("pass").value;
                                                pro = document.getElementById("pro").value;
                                                    localStorage.setItem("name1",nam)
                                                    localStorage.setItem("email1",email)
                                                    localStorage.setItem("ph1",ph)
                                                    localStorage.setItem("pass1",pass)
                                                    localStorage.setItem("pro1",pro)
                                            });
                                        </script>
</body>
</html>